caas-web/src/main/resources/schema/caas-role-tree.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="svg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="svg" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="rect">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="x" use="required"/>
                      <xs:attribute type="xs:byte" name="y" use="required"/>
                      <xs:attribute type="xs:byte" name="width" use="optional"/>
                      <xs:attribute type="xs:byte" name="height" use="optional"/>
                      <xs:attribute type="xs:string" name="role" use="required"/>
                      <xs:attribute type="xs:string" name="expanded" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="path">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="stroke-dasharray" use="optional"/>
                      <xs:attribute type="xs:string" name="d" use="optional"/>
                      <xs:attribute type="xs:string" name="role" use="optional"/>
                      <xs:attribute type="xs:string" name="style" use="optional"/>
                      <xs:attribute type="xs:string" name="expanded" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:short" name="x" use="optional"/>
            <xs:attribute type="xs:short" name="y" use="optional"/>
            <xs:attribute name="id" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="(node-)[0-9]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:string" name="root" use="optional"/>
            <xs:attribute type="xs:string" name="branch" use="optional"/>
            <xs:attribute name="h-id" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="(node-)[0-9]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="parent-id" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="(node-)[0-9]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute type="xs:string" name="top" use="optional"/>
            <xs:attribute type="xs:string" name="parent" use="optional"/>
            <xs:attribute type="xs:string" name="code" use="optional"/>
            <xs:attribute type="xs:string" name="bottom" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="width"/>
      <xs:attribute type="xs:short" name="height"/>
      <xs:attribute type="xs:string" name="role"/>
      <xs:attribute type="xs:string" name="style"/>
      <xs:attribute type="xs:string" name="class" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>